
{{> head}}

{{> navbar }}

    
    <div class="row">

        <div class="col-md-8 p-0 m-0">
            <h1 class="title">I Love Code</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam qui debitis, odit et, eius dicta ipsum cum nihil perferendis alias animi! Vel, eius quibusdam provident itaque beatae labore animi! Nam.
            </p>
        </div>

        <div class="col-md-4 p-0 m-0">
            <img src="assets/img/61691_1920_1080.jpg" class="img-thumbnail" style="width: 400px;">
        </div>
    </div>

{{> footer}}